*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/EQTools/nbproject
/EQTools/nbproject/build-impl.xml
/EQTools/nbbuild.xml
/EQTools/build/
/EQTools/build/config.txt
EQTools/nbproject/build-impl.xml
EQTools/config.txt
EQTools/magelo.txt